@model IEnumerable<WebPegadaian.Models.Outlet>

@{
    ViewBag.Title = "Coba";
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>COBAA</h1>
            </div>
        </div>
    </div>
</div>
